/* index.css */

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1F0812;
    color: #333;
    padding: 20px;
}

header {
    background: white;
    color: #416165;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.profile-pic {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 50px; /* Espacio entre la imagen y el texto */
    border: 3px solid white;
}



h2 {
    color:#416165;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #8EDCE6;
    text-decoration: none;
}
#skills-education {
    display: flex; /* Utiliza flexbox para alinear las secciones */
    justify-content: space-between; /* Espacio entre las secciones */
    margin: 0px; /* Margen alrededor de la sección */
}

.card {
    flex: 1; /* Permite que las tarjetas ocupen el mismo espacio */
    margin: 10px; /* Margen entre las tarjetas */
    padding: 15px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
}

a:hover {
    text-decoration: underline;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}